In [1]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [14]:
data = pd.read_csv("G:\\GitHub\\diggi-teste\\estudo_de_caso_diggi\\dados\\base_teste_ok.csv", sep=';', encoding="utf_8")

In [5]:
data.head()

,Nº do cliente,Safra,Estado,Renda Mensal,Endividamento,Quantidade de Cheques sem Fundo,Quantidade de Restritivos,Valor dos Restritivos,Quantidade de Protestos,Valor dos Protestos,Modelo Score 1,Modelo Score 2,Modelo Score 3,Modelo Score 4,Performance 30D3M EVER,Performance 60D6M EVER,Performance 60D9M EVER,Performance 90D9M EVER,Performance 90D12M EVER
0,6.325851e+08,2020-05-01 00:00:00 UTC,MS,1076.0,26 a 50%,0.0,2.0,418.0,0.0,0.0,141.0,236.0,196.0,405.0,BOM,MAU,MAU,MAU,MAU
1,1.190978e+09,2020-05-01 00:00:00 UTC,MG,12709.0,Até 25%,0.0,0.0,0.0,0.0,0.0,767.0,646.0,805.0,946.0,BOM,BOM,BOM,BOM,BOM
2,1.089165e+09,2020-06-01 00:00:00 UTC,MS,2518.0,Acima de 100%,0.0,4.0,32306.0,0.0,0.0,67.0,238.0,196.0,563.0,BOM,BOM,BOM,BOM,BOM
3,1.342327e+08,2020-05-01 00:00:00 UTC,RS,1090.0,Até 25%,0.0,0.0,0.0,0.0,0.0,245.0,523.0,290.0,698.0,MAU,BOM,MAU,BOM,MAU
4,1.055186e+09,2020-10-01 00:00:00 UTC,RJ,1155.0,Até 25%,0.0,0.0,0.0,0.0,0.0,697.0,718.0,645.0,816.0,BOM,BOM,NaN,NaN,NaN

In [15]:
arr_cols_flag = ['30D3M','60D6M','60D9M','90D9M','90D12M']

for f in arr_cols_flag:
    col_flag = []
    for i in data['Performance ' + f + ' EVER'].iteritems():
        valor = (i[1])
        if valor == 'BOM':
            col_flag.append(1)
        elif valor == 'MAU':
            col_flag.append(0)
        else:
            col_flag.append(None)

    data[f] = col_flag

In [18]:
data.describe()

,Nº do cliente,Renda Mensal,Quantidade de Cheques sem Fundo,Quantidade de Restritivos,Valor dos Restritivos,Quantidade de Protestos,Valor dos Protestos,Modelo Score 1,Modelo Score 2,Modelo Score 3,Modelo Score 4,30D3M,60D6M,60D9M,90D9M,90D12M
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,8335.000000,8335.000000,3995.000000
mean,6.101154e+08,2780.155700,0.164900,0.711100,1635.66340,0.152900,209.724300,459.182800,524.183800,483.280100,695.888500,0.875600,0.829000,0.766647,0.812238,0.766458
std,3.515864e+08,1464.592111,1.564146,1.823285,10741.23154,1.173908,2700.805532,264.013507,200.494433,215.561897,115.237171,0.330054,0.376528,0.422991,0.390546,0.423137
min,1.241258e+06,1041.000000,0.000000,-7.000000,0.00000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.056783e+08,1404.000000,0.000000,0.000000,0.00000,0.000000,0.000000,216.000000,253.000000,277.000000,630.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,6.101154e+08,3365.000000,0.000000,0.000000,0.00000,0.000000,0.000000,481.000000,627.000000,482.000000,700.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,9.145524e+08,3492.000000,0.000000,1.000000,145.00000,0.000000,0.000000,672.250000,669.000000,669.000000,772.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.218989e+09,33564.000000,64.000000,35.000000,462266.00000,37.000000,133742.000000,999.000000,811.000000,922.000000,999.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
X = data.drop("median_house_value", axis=1)
y = data['median_house_value']

Xtr, Xval, ytr, yval = train_test_split(X, y, test_size=0.5, random_state=0)

#arvere = DecisionTreeRegressor(max_depth=8, random_state=0)
arvere = DecisionTreeRegressor(min_samples_leaf=21, random_state=0)
arvere.fit(Xtr, ytr)

p = arvere.predict(Xval)

np.sqrt(mean_squared_error(yval, p))

None -> 72989.69335218017 
d=2 -> 86143.9160569026 
d=3 -> 82578.03051734 
d=5 -> 75522.06075662695 
d=8 -> 67186.75336427016  
d=13 -> 70054.24656309857 

msl=2 -> 69979.56423380405 
msl=3 -> 67128.79409752366 
msl=5 -> 64806.713441809865 
msl=8 -> 63235.123980199794 
msl=13 -> 62397.768886418744 
msl=21 -> 62294.23381162341 
msl=34 -> 63399.61797450719

In [ ]:
pylab.figure(figsize=(15,10))
plot_tree(arvere, feature_names=Xtr.columns)